

 * {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/*navbar*/
header {
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  position: fixed;
  background: none;
}

.logo {
  font-family: 'Kaushan Script', cursive;
  font-family: 'Pinyon Script', cursive;
  color: rgba(75, 0, 0, 0.811);
  font-size: 50px; 
  margin-left: 80vh;
  margin-top: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1111115a;
  backdrop-filter: blur(2px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 40px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.4s;
  line-height: 3;

}

.sidenav a:hover{
  color: #f1f1f1;
  border-bottom-left-radius: 1px solid white;
  margin-bottom: 10px;
}

.closebtn {
  position: absolute;
  top: -40px;
  right: 44px;
  font-size: 100px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*selesai*/