

 * {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  height: 300vh;
  background: #e6e6e6;
}

/*loading teks*/
.loading-text {
  color: rgba(255, 255, 255, 0.811);
  font-size: 1px; 
  display:none;
}

/*navbar*/
header {
   position: fixed;
   z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 50px;
  position: fixed;
  background: none;
  width:1300px;
}


.logo>h1 {
  font-family: 'Kaushan Script', cursive;
  font-family: 'Pinyon Script', cursive;
  color: rgba(75, 0, 0, 0.811);
  font-size: 42px; 
  margin-top: 10px;
  margin-right: 100vh;
}
.logo > h6 {
  font-size: 15px;
  font-family: monospace;
  justify-content: space-between;
  text-align: center;
  margin-right: 100vh;
  color:  rgb(115, 115, 0);;
}
.logo >hr {
  margin-right: 100vh;
  background-color: black;
  border: 1px solid black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000c1;
  backdrop-filter: blur(2px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 40px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.4s;
  line-height: 2;
  font-family: 'verdana';
  text-transform: capitalize;
}

.sidenav a:hover{
  color: #9c9c9c;
  border-bottom-left-radius: 1px solid white;
  scale: 100px;
  transform: scale(1.2);
}

.closebtn {
  position: absolute;
  top: -40px;
  right: 44px;
  font-size: 100px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*selesai*/

/* carousel */
.carousel{
   position: relative;
   z-index: 3;

}

.carousel_inner{
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.carousel_inner::after{
   content: "";
   display: block;
   clear: both;
}

.carousel_item{
   position: relative;
   float: left;
   display: none;
   width: 100%;
   margin-right: -100%;
}

/* slide effect */
.carousel_item__active,
.carousel_item__pos_prev,
.carousel_item__pos_next{
   display: block;
}

.carousel_item__pos_prev{
   left: -100%;
}

.carousel_item__pos_next{
   left: 100%;
}

.carousel_item__prev{
   transform: translateX(100%);
   transition: transform .5s ease-in-out;
}

.carousel_item__next{
   transform: translateX(-100%);
   transition: transform .5s ease-in-out;
}

.carousel__fade .carousel_item__pos_prev,
.carousel__fade .carousel_item__pos_next{
   left: 0;
   opacity: 0;
}

.carousel__fade .carousel_item__prev,
.carousel__fade .carousel_item__next{
   transform: none;
   opacity: 1;
   transition: opacity .5s ease-in-out;
}

.carousel__fade .carousel_item__active.carousel_item__prev,
.carousel__fade .carousel_item__active.carousel_item__next{
   opacity: 0;
}

.carousel_caption {
   margin-top: 250px;
   text-shadow: 5px 3px 4px rgba(57, 0, 0, 0.909);
}
/*selesai*/

/*viidio*/
.fullscreen {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   overflow: hidden;
   z-index: -100;
   -webkit-mask-image: linear-gradient( transparent,black,black, black,black);
   filter: blur(2px) ;
   
}

.full {
   position: absolute;
   top: 0;
   left: 0;
}

/* carousel */
.carousel_img{
   display: block;
   width: 100%;
}

.carousel_caption{
   position: absolute;
   top: 50px;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   text-align: center;
   color: #fffdf0;
   z-index: 1;
}

.carousel_title{
   font-family: "Montserrat", sans-serif;
   font-weight: 600;
}

.carousel_description{
   margin-top: .75rem;
   line-height: 150%;
}

.carousel_indicator{
   position: absolute;
   bottom: 1rem;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   flex-direction: row;
   gap: .5rem;
   z-index: 1;
}

.carousel_dot{
   display: block;
   padding: .25rem;
   background-color: rgba(255, 255, 255, .25);
   border: none;
   border-radius: 50%;
   cursor: pointer;
   transition: background-color .5s ease-in-out;
  margin: 0.25vh;
}

.carousel_dot__active{
   background-color: lightskyblue;
   cursor: default;
   pointer-events: none;
}

.carousel_control{
   position: absolute;
   top: 0;
   left: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 100%;
}

.carousel_button{
   display: block;
   padding-inline: 1rem;
   font-family: "Raleway", sans-serif;
   font-size: 1.375rem;
   background-color: transparent;
   color: rgba(255, 255, 255, .25);
   border: none;
   cursor: pointer;
   transition: color .25s;
   z-index: 1;
}

.carousel_button:hover{
   color: rgba(135, 206, 250, .75);
}
/*selesai*/


/*gelombang*/
.waves {
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:absolute;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -3s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -4s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -5s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -6s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }

  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }

  .content {
    height:30vh;
  }

  h1 {
    font-size:24px;
  }
}

/*reservation*/
.container-reservation {
   display: flex;
   background-color:  rgb(255, 255, 255) ;
   text-transform: capitalize;
}

.wrap-all-child-rest {
   display: flex;
   margin-left:20vh;
   margin-left: 20vh;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   align-items: center;
}

.wrap-all-child-rest>.check-in, .check-out, .n-of-guest{
   padding: 5vh;
}

.wrap-all-child-rest> .check-out, .n-of-guest, .btn-rest {
   margin-left: 15vh;
}

.btn-rest {
   background:rgb(246, 148, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
   padding: 1.5rem;
   margin-right: 5vh;
   margin-left: 17.5vh;
   text-decoration: none;
}

.btn-rest a {
   color: #fff;
   text-decoration: none;
}

.wrap-all-child-rest #c-i, #c-o, #opt {
   border: none;
   border-bottom: 1px solid black;
   opacity: 0.8;
}

.wrap-all-child-rest #opt {
   padding-left: 100px;
}

.btn-rest:hover {
    background: crimson;
    transition: 0.4s ease;
    border: none;
}
/*selesai*/



/*fasilities*/
.container {
   background-color: rgba(255, 255, 255, 0);
}

button {
  margin-right: -20px;
  padding: 15px 40px;
  border: 0;
  outline: none;
  border-radius: 25px;
  background: rgb(246, 148, 1);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: crimson;
  transition: all 0.4s ease;
}

.row {
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  overflow: hidden;
  
}

.col-1 .col2 {
  overflow: hidden;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col-2 img {
  width: 30rem;
  height: 80vh;
  margin-bottom: -5px;
  margin-right: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.col-1 {
  padding: 8% 5%;
  position: relative;
}

.col-1 p {
  color: #777;
  line-height: 22px;
  margin: 15px 0 30px;
  max-width: 500px;
}

ul {
  position: absolute;
  bottom: 30px;
}

ul li {
  list-style: none;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: #bfbfbf;
  border-radius: 50%;
  margin-right: 15px;
  cursor: pointer;
}

ul .active {
  background: crimson;
}

/* JavaScript */
.zoom {
  animation: zoom 1s;
}

@keyframes zoom {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/*curtain*/

.curtain {
  width: 100%; /* Ensures the component is the full screen width */
  height: 100vh; /* We're using this for demo purposes */
  overflow: hidden; /* Allows us to slide the panels outside the container without them showing */
}
  
.curtain__wrapper {
  width: 100%;
  height: 100%;
}

input[type=checkbox] {
  position: absolute; /* Force the checkbox at the start of the container */
  cursor: pointer; /* Indicate the curtain is clickable */
  width: 100%; /* The checkbox is as wide as the component */
  height: 100%; /* The checkbox is as tall as the component */
  z-index: 100; /* Make sure the checkbox is on top of everything else */
  opacity: 0; /* hide the checkbox */
}

/* Slide the first panel in */
input[type=checkbox]:checked ~ div.curtain__panel--left {
  transform: translateY(0);
}
        
/* Slide the second panel in */
input[type=checkbox]:checked ~ div.curtain__panel--right {
  transform: translateY(0);
}

.curtain__panel {
  background: rgb(255, 255, 255);
  width: 100%; /* Each panel takes up half the container */
  height: 50vh; /* Used for demo purposes */
  float: left; /* Makes sure panels are side-by-side */
  position: relative; /* Needed to define the z-index */
  z-index: 2; /* Places the panels in front of the prize */
  transition: all 1s ease-out; /* Animates the sliding transition */
}

.curtain__panel--left {
  transform: translateY(-100%);
}

.curtain__panel--right {
  transform: translateY(100%);
}

.curtain__prize {
  background: rgb(226, 226, 226);
  position: absolute; /* Forces the prize position into the container start */
  z-index: 1; /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;
  text-align: center;
  
}

