* {
    margin: 0px;
    padding: 0px;
}

/*Navbar*/

.navbar {
    overflow: hidden;
    background-color: transparent;
    transition: background-color 0.5s;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > .ab {
    float: left;
    display: block;
    color: rgb(113, 0, 0);
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    border: 2px solid rgb(113, 0, 0);
    border-radius: 8px;
    background: rgba(113, 0, 0, 0);
}

.navbar > .ab:nth-child(1) {
    padding-left: 40px;
    margin: 0;
    border-radius: 0;
    background: #ffedc2;
}

.navbar > .ab:nth-child(3) {
    padding-right: 50px;
    margin: 0;
    border-radius: 0;
    background: #ffedc2;
}

.navbar > a > img {
    height: auto;
    width: 35vh;
    padding-top: 5px;
    cursor: pointer;
}

.content {
    position: fixed;
    overflow: hidden;
    z-index: -100;
}

.content > .full {
    height: 100%;
    width: 100%;
   
}

/* carousel */
.carousel_img{
    display: block;
    width: 100%;
 }
 
 .carousel_caption{
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fffdf0;
    z-index: 1;
 }
 
 .carousel_title{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
 }
 
 .carousel_description{
    margin-top: .75rem;
    line-height: 150%;
 }
 
 .carousel_indicator{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: .5rem;
    z-index: 1;
 }
 
 .carousel_dot{
    display: block;
    padding: .25rem;
    background-color: rgba(255, 255, 255, .25);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
   margin: 0.25vh;
 }
 
 .carousel_dot__active{
    background-color: lightskyblue;
    cursor: default;
    pointer-events: none;
 }
 
 .carousel_control{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
 }
 
 .carousel_button{
    display: block;
    padding-inline: 1rem;
    font-family: "Raleway", sans-serif;
    font-size: 1.375rem;
    background-color: transparent;
    color: rgba(255, 255, 255, .25);
    border: none;
    cursor: pointer;
    transition: color .25s;
    z-index: 1;
 }
 
 .carousel_button:hover{
    color: rgba(135, 206, 250, .75);
 }
 /*selesai*/